<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div id="hero">
    <img id="heroImg" src="<%- locals.image %>" alt="<%- locals.name %>">
    <div id="heroBox">
        <b><%- locals.name %></b><br>
        <%- locals.description %><br><br>
        <a href="<%- locals.url %>">Check</a>
        <br>
        <br>
    </div>
</div>
